<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.application.feedcomment.FeedCommentMapper">

    <select id="findAllByFeedIdLimitedTo">
        SELECT fc.feed_comment_id, fc.comment
             , u.user_id AS writerUserId, u.uid AS writerUid
             , u.nick_name AS writerNickName, u.pic AS writerPic
          FROM feed_comment fc
         INNER JOIN user u
            ON u.user_id = fc.user_id
         WHERE fc.feed_id = #{feedId}
         ORDER BY fc.feed_comment_id
         LIMIT #{startIdx}, #{sizePlusOne}
    </select>

</mapper>